@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #F4D04E;
    --white: #FFFFFF;
    --text: #111111;
    --gray: #6B6B6B;
    --black: #000000;
    --accent: var(--bg);
    --main: 'Figtree', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main);
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--white);
  border: 1px solid var(--text);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 16px 16px 0 var(--black);
  width: min(327px, 100%);
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 24px;
}

.card-thumbnail {
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

.card-thumbnail img {
  width: 100%;
  display: block;
  height: 12.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-tag {
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
  font-weight: 700;
  color: var(--text);
  background: var(--bg);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  height: fit-content;
}

.card-date {
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
  color: var(--text);
  font-weight: 400;
}

.card-title {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.card-description {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  font-weight: 400;
  color: var(--gray);
  margin: 0;
  line-height: 150%;
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card-author-name {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text);
}