@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #F4D04E;
    --white: #FFFFFF;
    --text: #111111;
    --gray: #6B6B6B;
    --black: #000000;
    --accent: var(--bg);
    --main: 'Figtree', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main);
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--white);
  border: 1px solid var(--text);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 16px 16px 0 var(--black);
  width: min(327px, 100%);
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 24px;
}

.card-thumbnail {
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

.card-thumbnail img {
  width: 100%;
  display: block;
  height: 12.5rem;
}